body {
  background-color: black;
  margin: 100px 500px;
}
.header {
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 2;
  background-color: rgb(233, 57, 154);
  width: 380px;
  height: 90px;
  border-radius: 5px;
  color: black;
  text-align: center;
  margin-left: 40px;
  font-size: larger;

}
.container {
  position: relative;
 z-index: 1;
  width: 400px;
  height: 300px;
 

}
.main {
  position: relative;
  z-index: 0;
  width: 380px;
  height: 180px;
  padding-top: 70px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  
}
.button-link{
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background: rgb(233, 57, 154);;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 200px;
  margin-left: 0;
}